<div class='Carousel-Body'>


    <div class="back-button">
      <button mat-fab
              (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <div class="carousel-content">

      <div class ="carousel-test">
        <div class="carousel-item">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1UI0l2L66HJ9AtoEOlHzv4?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="eager"></iframe>
        </div>

        <div class="carousel-item">
          <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/3cxjdKOZAlZO1steLpP8dN?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
        </div>
      </div>

    </div>


    <div class="back-button">
      <button mat-fab
              (click)="onForward()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>


</div>
