.webgl1 {
  padding: 0;
  margin: 0;
}

.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin:0;
  height: 0vh;  /*set height to vh to force change div height*/
}
