<div class="body-content">
  <mat-tab-group animationDuration="0ms" class="address-tab">
    <mat-tab label="Home Address">

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50443.378805126704!2d144.91508096305964!3d-37.796807973127294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d06677ef7c7%3A0x5045675218cd750!2sFlemington%20VIC%203031!5e0!3m2!1sen!2sau!4v1687969724536!5m2!1sen!2sau"
              style="border:none;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              class="address-tab">
      </iframe>

    </mat-tab>

    <mat-tab label="Work Address">

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50460.15312260212!2d145.03917630958895!3d-37.772235375639454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad64395e191a311%3A0x5045675218cd5e0!2sIvanhoe%20VIC%203079!5e0!3m2!1sen!2sau!4v1687969757675!5m2!1sen!2sau"
              style="border: none;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              class="address-tab">
      </iframe>

    </mat-tab>
  </mat-tab-group>

  <div class="border">
    <div class="contact-details-block">

      <h4 class="block-title"
          [matTooltip]="'No Spam, or Im gonna punch you in da butthole'"
          [matTooltipShowDelay]="200"
          [matTooltipHideDelay]="200">Contact Details</h4>

      <div>

        <div class="text-row">
          <mat-icon class="symbol-styles">phone_iphone</mat-icon>
          <a href="tel:+610434455015" class="link-styles">(+61) 04 34 455 015</a>
        </div>

        <div class="text-row">
          <mat-icon class="symbol-styles">mail</mat-icon>

          <a href="mailto:kwcw@live.com" class="link-styles">kwcw@live.com</a>
        </div>

        <div class="text-row">
          <mat-icon class="symbol-styles">schedule</mat-icon>
          <a class="link-styles">all day everyday, 7/11 baby</a>
        </div>

      </div>

    </div>

    <div>
      <h4 class="block-title">Social Media</h4>

      <div class="social-media">
        <i class="fa-brands fa-twitter fa-2xl"
           [matTooltip]="'Too controversial to share :\')'"
           [matTooltipShowDelay]="200"
           [matTooltipHideDelay]="200"></i>

        <a class="fa-brands fa-instagram fa-2xl"
           [matTooltip]="'nah'"
           [matTooltipShowDelay]="200"
           [matTooltipHideDelay]="200">
        </a>

        <a href="https://open.spotify.com/user/trip_down_memory_lane"
         target="_blank"
         class="fa-brands fa-spotify fa-2xl"></a>
      </div>
    </div>
  </div>

</div>
