<div class="WelcomeMessage">
  <h1>Welcome to My Page</h1>
</div>

<p class="DefaultText">
  This page is my personal page. I am treating it as a resume, or a portfolio of some kind.

  However, this page is also my personal coding playground.

  I will mostly be testing out stuff like ASP.Net Core, Angular and SQL server (Though mostly through ORM's)

  I will also be playing with some external API, i.e. connecting it to other websites' interfaces.

  This page will start out as a simple landing page using only html, css within the Angular framework, but over time, I will be adding more functionality to it.

  Maybe I should separate things into their own projects? Maybe, but hey, I aint got no money brah.  Though I might also create some other separate projects in their own domain.
</p>


<h1 class="DefaultText">Comments</h1>

<table mat-table
       [dataSource]="Comments"
       [hidden]="!Comments"
       matSort (matSortChange)="loadData()">
  <tr>
    <ng-container matColumnDef="commentsDescriptions">
      <th mat-header-cell class="col-1" *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell class="col-1" *matCellDef="let ICountry"> {{ Comments }} </td>
    </ng-container>
  </tr>



</table>
