h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.WelcomeMessage{
  padding:35px;
  padding-top:15px;
  padding-bottom:0;
  margin-bottom:0px;
  text-align:left;
  text-decoration:underline;
}

.DefaultText{
  padding-left:20px;
  padding-right:20px;
}


.container{
  display:flex;
  flex-flow:column;
  height:inherit;
}

app-comment-module{
    display:flex;
}

.body-text{
  padding-left:25px;
  padding-right:25px;
  height: inherit;
  display:flex;
  flex-direction:column;
}

.grow{
  flex-grow:1;
  display:flex;
  flex-direction:column;
}

.example-card {
  min-width: 350px;
  padding:10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  justify-content: center;
}
