h1 {
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.container{
  display:flex;
  flex-flow:column;
  height:inherit;
}

.body-text{
    padding-top: 15px;
    padding-left:25px;
    padding-right:25px;
    height: inherit;
    display:flex;
    flex-direction:column;
}

.height-inherit{
    height:inherit;
}
