<div class="Container">
  <div class="sign-up-body">

    <div class="back-button"
         [routerLink]="['/login']">
      <button mat-fab>
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>


    <div class="signup">

      <form class="Login-Block"
            [formGroup]="form"
            (ngSubmit)="login()">

        <h4 class="title-style">Log In</h4>

        <div class="log-in-details">

          <mat-form-field style="margin-bottom:-1.25em;"
                          class="log-in-field"
                          appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>

          <mat-form-field style="margin-bottom: -1.25em;"
                          class="log-in-field"
                          appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

          </mat-form-field>

          <mat-form-field style="margin-bottom: -1.25em;"
                          class="log-in-field"
                          appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">

            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

          </mat-form-field>

          <button color="primary"
                  class="log-in-button"
                  type="submit"
                  mat-raised-button>
            Login
          </button>

        </div>
      </form>
    </div>

  </div>
</div>
