/* You can add global styles to this file, and also import other style files */


html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  /*  height:100%;*/
  /*  padding-top: 65px;*/
  font-family: Roboto, "Helvetica Neue", sans-serif;
/*  background: rgb(250, 250, 250);
  background-color: whitesmoke;*/
}

.body-width{
    max-width:1300px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}


::-webkit-scrollbar {
  width: 0px;
}

.ng-star-inserted{
    height:inherit;
}
/*.tox-editor-header,
.tox-tinymce,
.tox-menubar,
.tox-toolbar__primary,
.tox-toolbar-overlord,
.tox-editor-container,
.tox-tox-tinymce,
.tox-anchorbar,
.tox-editor-header,
.tox-tbtn,
.tox-mbtn__select-label,
.tox-tbtn__icon-wrap,
.tox-icon,
.tox-tbtn--disabled,
.tox-menu,
.tox-collection__item-label {
  background-color: #212121 !important;
  border-color: #212121 !important;
  color: white !important;
}

.tox .tox-tbtn svg {
  fill: white !important;
}

.tox-editor-header,
.tox-tinymce,
.tox-menubar,
.tox-toolbar__primary,
.tox-toolbar-overlord,
.tox-editor-container,
.tox-tox-tinymce,
.tox-anchorbar,
.tox-editor-header,
.tox-tbtn:hover,
.tox-mbtn__select-label:hover,
.tox-tbtn__icon-wrap:hover,
.tox-icon:hover,
.tox-tbtn--disabled:hover {
  background-color: #212121 !important;
  border-color: #212121 !important;
  color: white !important;
}

.tox .tox-tbtn svg:hover {
  background-color: white;
  border-color: #212121 !important;
}*/

/*.tox-tinymce {
    border-color:red !important;
  background-color: red !important;
}*/
