<mat-tab-group>
  <mat-tab label="Home Address">

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17329.568537427163!2d144.93136798195928!3d-37.78464359946833!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d66b6fa91c9%3A0xc335e0f254f01fbf!2sALT%20%26%20Sienna%20On-Site%20Management!5e0!3m2!1sen!2sau!4v1680689921955!5m2!1sen!2sau"
              width="99.4%"
              height="450"
              style="border:"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
      </iframe>

  </mat-tab>

  <mat-tab label="Work Address">

      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12615.060019931423!2d145.03208310643748!3d-37.77210795723939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad64419671cdb4f%3A0x1d3d411f186c47a!2sTrafficworks%20Pty%20Ltd!5e0!3m2!1sen!2sau!4v1680690008407!5m2!1sen!2sau"
              width="99.4%"
              height="450"
              style="border:"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
      </iframe>

  </mat-tab>
</mat-tab-group>

<div class="contact-details-block">
  <h4 class="block-title">Contact Details</h4>

  <div>
    <div class="text-row">
      <mat-icon class="symbol-styles">phone_iphone</mat-icon>
        <a class="link-styles">(+61) 04 34 455 015</a>
    </div>

    <div class="text-row">
      <mat-icon class="symbol-styles">mail</mat-icon>

      <a class="link-styles">kwcw@live.com</a>
    </div>

    <div class="text-row">
      <mat-icon class="symbol-styles">schedule</mat-icon>
      <a class="link-styles">Anytime</a>
    </div>
  </div>
</div>


<div>
  <h4 class="block-title">Social Media</h4>

  <div class="social-media">
    <i class="fa-brands fa-twitter fa-2xl"></i>

    <i class="fa-brands fa-instagram fa-2xl"></i>

    <i class="fa-brands fa-spotify fa-2xl"></i>
  </div>
</div>

