<div class="container">
  <div *ngIf="this.form.get('email')!.errors?.['fieldsDoNotMatch']">
    Name is required.
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="title-style-1">
      Insert Username and Password
    </div>


    <div class="test">
      <mat-form-field style="margin-bottom:-1.25em;"
                      class="log-in-field"
                      appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput
               formControlName="userName">
      </mat-form-field>
    </div>

    <div class="test">
      <mat-form-field style="margin-bottom:-1.25em;"
                      class="log-in-field"
                      appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput
               formControlName="email">
      </mat-form-field>
    </div>

    <div class="test">
      <mat-form-field style="margin-bottom: -1.25em;"
                      class="log-in-field"
                      appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput
               formControlName="password"
               [type]="passwordHide ? 'password' : 'text'">

        <button tabindex="-1" *ngIf="this.form.controls['password'].dirty"
                type="button"
                mat-icon-button
                matSuffix (click)="passwordHide = !passwordHide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="passwordHide">
          <mat-icon [ngClass]="{'success': this.passwordCheck.value }">
            {{this.passwordCheck.value ? 'check' : confirmPasswordHide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="test">
      <mat-form-field style="margin-bottom: -1.25em;"
                      class="log-in-field"
                      appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput
               formControlName="confirmPassword"
               [type]="confirmPasswordHide ? 'password' : 'text'">

        <button tabindex="-1" *ngIf="this.form.controls['confirmPassword'].dirty"
                type="button"
                mat-icon-button
                matSuffix (click)="confirmPasswordHide = !confirmPasswordHide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="confirmPasswordHide">
          <mat-icon [ngClass]="{'success': this.passwordCheck.value }">
            {{this.passwordCheck.value ? 'check' : confirmPasswordHide ? 'visibility_off' : 'visibility'}}
          </mat-icon>
        </button>
      </mat-form-field>

    </div>
    <button 
            class="log-in-button mat-accent"
            type="submit"
            [disabled]="!form.valid"
            mat-raised-button>
      Sign Up
    </button>
  </form>

  <mat-card class="error-message" *ngIf="this.signupFailed">
    <div *ngFor="let error of this.errorMessages">
        &#x2022; {{error}}
    </div>
  </mat-card>
</div>
