
<div class="grid-layout">
  <mat-card
            appearance="MatCardAppearance"
            class="mat-card"
            *ngFor="let card of cards">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{card.title}}</mat-card-title>
      <mat-card-subtitle>{{card.title}}</mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>
        {{card.body}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
