<div #sideBarContainer class="SideBarFlexContainer">

  <div class="Flex-Content1">
    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">home</mat-icon>Home
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/academic']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">school</mat-icon>Lorem Ipsum
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/experience']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">engineering</mat-icon>Lorem Ipsum
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/timeline']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">timeline</mat-icon>Lorem Ipsum
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/skills']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">construction</mat-icon>Lorem Ipsum
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/schedule']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">calendar_month</mat-icon>Lorem Ipsum
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/contact']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">contact_mail</mat-icon>Lorem Ipsum
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-2']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 2
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-3']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 3
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-4']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 4
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-5']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 5
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-6']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 6
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-7']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 7
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-8']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 8
    </a>



    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-9']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 9
    </a>


    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-10']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 10
    </a>


    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-11']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 11
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-12']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 12
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-13']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 13
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-14']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 14
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-15']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 15
    </a>



  </div>

  <div class="Flex-Content2">
    <a mat-flat-button
       class="NavBarButtonBottom"
       color="secondary"
       disableRipple="true"
       [routerLink]="['/website-details']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">info</mat-icon>Website Details
    </a>
  </div>

</div>
