.comment-container {
  display:flex;
  flex-grow:1;
  margin:20px;
  flex-direction:column;
  border: solid;
  border-width: thin;
  border-color: rgba(128, 128, 128, 0.2);
  border-radius: 10px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 300px;
  flex-wrap:wrap;
}


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-bottom: 5px;
  border-bottom-width: 1px;
  border-bottom-style: none;
}


.title{
    font-size:20px;
    text-decoration:underline;
    padding-bottom:0px;
    margin-bottom:0px;
}

.comment-row{
    display: flex;
    flex-direction:column;
    width:100%;
    color:red;
}

.comments-table {
    width:100%;
}

.color-management{
    background-color:inherit;
}

.paginator-divider {
  margin-top: auto;
}

.mat-paginator{
    padding:5px;
    padding-top:8px;
}


.add-comment-container{
    flex-grow:1;
    border:solid;
    border-width:thin;
    border-radius:20px;
    background-color:grey;
    margin:25px;
    padding:10px;
    max-height:70px;
}


.flex-class{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.comment-divider {
  margin-top: 5px;
}
