.Container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.sign-up-body {
  box-sizing: border-box;
  width: 600px;
  height: 500px;
  border: solid;
  border-width: thin;
  border-color: rgba(128, 128, 128, 0.6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-top: 35px;
}

.signup {
  /*border-width:1px;*/
  border: solid;
  border-color: red;
  border-width: 1px;
  flex-grow:1;
  margin-top: 20px;
}


.Login-Block {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.back-button-row {
  display: flex;
}

.back-button{
    border:solid;
}

.test {
  display: flex;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  border: solid;
  align-items: center;
  align-self: center;
  align-content: center;
}



.log-in-details {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-style {
  font-weight: 500;
  font-size: x-large;
  text-decoration: underline;
  align-self:center;
  justify-self:center;
}
