<div class="container">
  <div class="WelcomeMessage">
    <h1>Lorem ipsum</h1>
  </div>

  <!--<p class="DefaultText">

    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."-->
  <!--This page is my personal page. I am treating it as a resume, or a portfolio of some kind.

  However, this page is also my personal coding playground.

  I will mostly be testing out stuff like ASP.Net Core, Angular and SQL server (Though mostly through ORM's)
    6
  I will also be playing with some external API, i.e. connecting it to other websites' interfaces.

  This page will start out as a simple landing page using only html, css within the Angular framework, but over time, I will be adding more functionality to it.
    E
  Maybe I should separate things into their own projects? Maybe, but hey, I aint got no money brah.  Though I might also create some other separate projects in their own domain.-->
  <!--</p>-->


  <app-comment-module></app-comment-module>
  <!--<paginator-test></paginator-test>-->
  <!--<mat-paginator-goto></mat-paginator-goto>-->
</div>
