.pressed {
  background: rgba(0,0,0,.2);
}

.LayoutFlexContainer{
  display: flex;
  flex-direction: row;
}

.Flex-Content1{
    padding-top:3px;
}

.Flex-Content2{
    margin:auto;
}

.Pill-Button1 {
  border-radius: 100vw;
  margin:5px;
}

.Pill-Button1:hover {
  background: rgba(0,0,0,.2);
}

.Pill-Button2 {
  border-radius: 100vw;
  margin: 5px;
}

.Pill-Button2:hover {
  background: rgb(200, 200, 200, .8);
}

.Pill-Button3 {
  border-radius: 100vw;
  margin: 5px;
}

.Pill-Button3:hover {
  /*background: rgb(200, 200, 200, .8);*/
}


.NavbarLinks {
  text-decoration: none;
}

.NavbarLinks:visited {
  color: white;
}

.NavbarLinks:hover {
  text-decoration: underline;
}

.form-buttons {
  border: solid;
  border-width: thin;
  border-color: rgb(128, 128, 128, 0.3)
}

h1 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-decoration: underline;
}

