.comment-container {
  border: solid;
  border-width: thin;
  border-color: rgba(128, 128, 128, 0.6);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: none;
}


.comment-row{
    display: flex;
    flex-direction:column;
    width:100%;
    color:red;
}

.test {
    background-color: red;
    color:red;
}
