.comment-container {
  margin:30px;
  border: solid;
  border-width: thin;
  border-color: rgba(128, 128, 128, 0.6);
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 300px;
}


th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-style: none;
}


.comment-row{
    display: flex;
    flex-direction:column;
    width:100%;
    color:red;
}

.comments-table {
    width:100%;
}

.color-management{
    background-color:inherit;
}
