/*CSS Styles for Overall Layout*/


.LayoutFlexContainer{
    display:flex;
    flex-direction:column;
    height:100%;

}

.NavBarStyles {
  flex: 1 1 auto;
  flex-shrink: 1;
}

.BodyStyles {
  overflow:auto;
  height: 100%;
  flex: 1 1 auto;
  flex-shrink: 1;
}

.FooterStyles {
  flex: 1 1 auto;
  flex-shrink: 1;
}

.custom-width{
    min-width:1200px;
    max-width:1200px;
    margin:auto;
}
