<div class='Carousel-Body'>


    <div class="back-button">
      <button mat-fab
              (click)="onBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>

    <div class="carousel-content">

      <div class ="carousel-test">
        <div class="carousel-item">
          Lorem ipsum dolor sit amet.
          Eum officia dignissimos qui quidem similique aut nisi animi ut suscipit voluptatem sed expedita voluptatem et veritatis facilis qui deserunt molestiae.
          Quo alias ullam 33 numquam quos vel minima fugiat sit officia odio. Ut galisum doloremque aut porro excepturi eum vero dolores et omnis sapiente!
        </div>

        <div class="carousel-item">
          Lorem ipsum dolor sit amet.
          Eum officia dignissimos qui quidem similique aut nisi animi ut suscipit voluptatem sed expedita voluptatem et veritatis facilis qui deserunt molestiae.
          Quo alias ullam 33 numquam quos vel minima fugiat sit officia odio. Ut galisum doloremque aut porro excepturi eum vero dolores et omnis sapiente!
        </div>
      </div>

    </div>


    <div class="back-button">
      <button mat-fab
              (click)="onForward()">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>


</div>
