.Carousel-Body{
    border: solid;
    border-width: thin;
    height:inherit;
    width: auto;
    display:flex;
    flex-wrap:nowrap;
    border-radius: 20px;
    padding: 20px;
}

.carousel-content {
  display: flex;
  transition: transform 1s;
  overflow:clip;
}

.carousel-item {
  transition: transform 1s;
  border: solid;
  border-width: thin;
  min-width: stretch;
}

.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 1;
}

.carousel-test {
  display: flex;
  transition: transform 1s;
}
