<div class="body-text">
  <h1>Website Structure:</h1>

  <p class="development">* Website is still in development.</p>
  <ul>
    <li>
      Website is an SPA Website, communicating with a Rest API.
    </li>

    <li>
      Website built via Typescript and C#.
    </li>

    <li>
      Front end handled via Angular
    </li>

    <li>
      Front end stylized via Angular Material
    </li>

    <li>
      Front End 3D Assets handled via Three Js
    </li>

    <li>
      Front End Physics handled via Rapier Js
    </li>

    <li>
      Back end handled via ASP.Net Core
    </li>

    <li>
      Authentication Handled via ASP.Net Identity.
    </li>

    <li>
      Authentication Handled via JWT - Access Token, Refresh Tokens and AppSessions.
    </li>

    <li>
      Database Handled via EF Core layered over MSSQL
    </li>
  </ul>

  Maybe Ill make this page pretty one day.  Though I aint got no time.
</div>
