<div class="Container">
  <div class="sign-up-body">

    <div class="back-button-row">
      <div class="back-button"
           [routerLink]="['/login']">
        <button mat-fab>
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>

      <div class="test">
        <h4 class="title-style">Sign Up Form</h4>
      </div>
    </div>

    <div class="signup">
      <div class="log-in-details">
        <app-sign-up-form></app-sign-up-form>
      </div>
    </div>
  </div>
</div>
