<div class="LayoutFlexContainer">

  <div class="Flex-Content1">
    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">home</mat-icon>Home
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/academic']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">school</mat-icon>Academic
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/experience']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">engineering</mat-icon>Experience
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/timeline']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">timeline</mat-icon>Timeline
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/skills']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">construction</mat-icon>Skills
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/contact']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">contact_mail</mat-icon>Contact Info
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-2']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 2
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-3']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 3
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-4']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 4
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-5']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 5
    </a>

    <a mat-flat-button
       class="NavBarButton"
       color="secondary"
       [routerLink]="['/three-6']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">
        <span class="material-symbols-outlined">
          view_in_ar
        </span>
      </mat-icon>Three 6
    </a>

  </div>

  <div class="Flex-Content2">
    <a mat-flat-button
       class="NavBarButtonBottom"
       color="secondary"
       disableRipple="true"
       [routerLink]="['/login']">
      <mat-icon style="padding-bottom:3px; padding-right:15px;">info</mat-icon>Website Details
    </a>
  </div>

</div>
